<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.j_king.course">
    <uses-permission android:name ="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--重力加速度传感器权限 -->
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/course"
        android:label="@string/app_name"
        android:roundIcon="@drawable/course"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".XlsSetActivity">
        </activity>

        <activity android:name=".TaskActivity">
        </activity>
        <activity android:name=".TimeActivity">
        </activity>
        <activity android:name=".ShowDetails">
        </activity>


        <service
            android:name="com.example.j_king.task.AlarmService"
            android:process=":servicesProcess"
            />
        <receiver
            android:name="com.example.j_king.task.AlarmReceiver"
            android:process=":servicesProcess"
            />

        <service
            android:name="com.example.j_king.task.TaskServices"
            />
        <receiver
            android:name="com.example.j_king.task.TaskReceiver"
            android:process=":servicesProcess"

            />
        <service
            android:name="com.example.j_king.task.CourseServices"
            android:process=":servicesProcess"
            />
        <receiver
            android:name="com.example.j_king.task.CourseReceive"
            android:process=":servicesProcess"

            />
        <receiver
            android:name="com.example.j_king.task.RepeatingAlarm"
            android:process=":remote" />

    </application>

</manifest>